<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleJoin.css">
    <title>회원가입</title>
</head>
<body>
    <div class="header">
        <div class="headerIn">
            <div class="logoImg">
            	<a href="/index.html">
                	<img src="/img/logo.png" alt="핏로그로고">
                </a>
            </div>
            <h1 class="title">Fit Log</h1>
        </div><!--.headerIn-->
    </div><!--header-->
    <div class="container">
        <form  action=""  method="post" enctype="multipart/form-data"  onsubmit="return formCheck(this)">
            <table>
                <tr>
                    <td class="tdImg" colspan="2">
                        <div class="profileImg">
                            <img id="preview" src="/img/memberImg.png" alt="사진 미리보기">
                        </div>
                        <!-- <button type="submit" class="uploadImgBtn" >사진 올리기</button> -->
                        <div class="uploadImgBtn"> <label for="imgUpload">사진 올리기</label><input type="file" id="imgUpload" name="imageFile"></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div id="msg" class="msg">${URLDecoder.decode(param.msg,"utf-8")}</div>
                    </td>
                </tr>
                <tr>
                    <td class="tdText"><label for="m_email">이메일</label></td>
                    <td><input type="email" id="m_email" class="inputInfo" name="m_email" onblur="checkEmail()"></td>
                </tr>
                <tr>
                	<td colspan="2" class="emailBtn">
                        <button type="button" id="emailOverlap" class="emailOverlap" value="N" onclick="fn_emailOverlap()">이메일 중복확인</button>
                    </td>
                </tr>
                <tr>
                    <td class="tdText"><label for="m_pw">비밀번호</label></td>
                    <td>
                        <input type="password" id="m_pw" class="inputInfo" name="m_pw" onblur="checkPw()">
                        <div class="warning">영문/숫자/특수문자 8~14자리</div>
                    </td>
                </tr>
                <tr>
                    <td class="tdText"><label for="m_pw2">비밀번호 확인</label></td>
                    <td>
                        <input type="password" id="m_pw2" class="inputInfo" name="m_pw2" onblur="checkPw2()">
                    </td>
                </tr>
                <tr>
                    <td class="tdText"><label for="m_nickname">닉네임</label></td>
                    <td>
                    	<input type="text" id="m_nicknm" class="inputInfo" name="m_nicknm" onblur="checkNickname()">
                    	<div class="warning">한글 초성 및 모음 , 특수문자 불가능</div>
                    </td>
                </tr>
                <tr>
                	<td class="tdText"> <label for="m_addr1">주소</label> </td>
                	<td><input type="text" id="m_addr1" class="inputInfo" name="m_addr1"></td>
                </tr>
                <tr>
                	<td class="tdText"><label for="m_addr2">상세주소</label> </td>
                	<td><input type="text" id="m_addr2" class="inputInfo" name="m_addr2"></td>
                </tr>
                <tr>
                	<td class="tdText"><label for="m_cate">구분</label> </td>
                	<td>
                        <select name="m_cate" id="m_cate" class="selectInfo">
                            <option value="nomal">일반 회원</option>
                            <option value="teacher">강사</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button class="joinBtn">회원가입</button>
                    </td>
                </tr>
            </table>
        </form>
    </div><!--container-->
</body>
</html>