<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/styleMemberType.css}"rel="stylesheet">  
    <th:block th:replace="fragments/css::css"></th:block>
    <th:block th:replace="fragments/script::script"></th:block>  
    <title>회원 구분</title>
</head>
<body>
	<div th:replace="fragments/header::header"></div>
        
    <div layout:fragment="content" class="content">
		<div class="wrap">
			<div class="divType">
				<button class="typeBtn" value="normal">일반회원</button>
				<button class="typeBtn" value="instructor">강사</button>
			</div>
		</div>
	</div>
</body>
</html>