<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c0e3b26a7d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <link rel="stylesheet" href="/css/styleMemberInfo.css">
    <title>회원정보</title>
</head>
<body>
    <div class="wrap">
        <div class="logo">
            <div class="logoImg">
            	<a href="/index.html">
                	<img src="/img/logo.png" alt="핏로그로고">
                </a>
            </div>
            <h1 class="title">Fit Log</h1>    
        </div><!--.logo-->
        <table>
            <tr>
                <td>
                    <div class="profileImg">
                        <img src="/img/memberImg.png" alt="사진 미리보기">
                    </div>
                    <div class="uploadImgBtn"> 
                        <label for="imgUpload">사진 올리기</label>
                        <input type="file" id="imgUpload" name="imageFile">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tdBtn">
                    <div class="nickName">닉네임</div>
                    <button class="changeBtn">
                        <i class="fa-solid fa-pencil"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td><div class="email">이메일</div></td>
            </tr>
            <tr>
                <td class="tdBtn">
                    <div class="password">비밀번호 변경</div>
                    <button class="changeBtn">
                        <i class="xi-lock"></i>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>