<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="header">
	<div class="header">
	    <div class="hLeft">
			<button><i class="xi-bars xi-3x"></i></button>                
            <div class="logo">
             	<p><a href="/"><img src="/img/logo.png" alt="핏로그 로고"></a></p>
            </div>
	    </div>
	   	<div class="hRight">
	    	<div class="gnb">
	        	<ul>
	        		<li><a href="" class="gnbMenu">내 스케줄</a></li>
	            	<li><a href="" class="gnbMenu">오늘 운동 완료</a></li>
	                <li><a href="" class="gnbMenu">게시판</a></li>
	                <li><a href="/member/login" class="login">로그인/회원가입</a></li>
	            </ul>
			</div>
		</div>
	</div><!--.header-->
</th:block>
</html>