<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <link rel="stylesheet" th:href="@{/css/styleSelectTicket.css}">
    <title>회원권 선택</title>
</head>
<body>
	<th:block th:replace="fragments/header::header"></th:block>
	<th:block layout:fragment="content">
	    <div class="wrap">
	        
	        <div class="container" th:if="${!#lists.isEmpty(ticketDtoList)}" >
	            <div class="title">
	            	<h1>사용 가능한 이용권</h1>
	        	</div>
	            <div class="centerList" th:each="ticket : ${ticketDtoList}">
	                <div class="centerName">
	                    <h2>OO필라테스</h2>
	                </div>
	                <ul>
	                    <li class="ticket">
	                        <div class="ticketName">
	                            <h3 th:text="${ticket.ticketName}"></h3>
	                        </div>
	                        <div class="ticketDetail">
	                            <p>- 기간 : <span th:text="${ticket.startDate}"></span> ~ <span th:text="${ticket.endDate}"></span></p>
	                            <p>- 잔여횟수 : <span th:text="${ticket.ticketCount}"></span>회</p>
	                        </div>
	                        <button class="reserveBtn">예약</button>
	                    </li>
	                </ul>
	            </div>
	        </div>
	        <div class="noTicket" th:if="${#lists.isEmpty(ticketDtoList)}">
	            <h1>사용가능한 이용권이 없습니다.</h1>
	        </div>
	    </div>
    </th:block>
</body>
</html>