<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styleMembershipTicket.css}">
    <title>회원권상태</title>
</head>
<body>
	<th:block th:replace="fragments/header::header"></th:block>
    <div class="wrap">
        <div class="title">
            <h1>회원권 상태</h1>
        </div>
        <div class="container">
            <div class="centerList">
                <div class="centerName">
                    <h2>OO필라테스</h2>
                </div>
                <ul>
                    <li class="ticket">
                        <div class="ticketName">
                            <h3>50회 이용권</h3>
                        </div>
                        <div class="ticketDetail">
                            <p>- 기간 : 2023.02.01 ~ 2023.08.01</p>
                            <p>- 잔여횟수 : 32/50</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="centerList">
                <div class="centerName">
                    <h2>OO 헬스</h2>
                </div>
                <ul>
                    <li class="ticket">
                        <div class="ticketName">
                            <h3>시설자유 이용권</h3>
                        </div>
                        <div class="ticketDetail">
                            <p>- 기간 : 2023.02.01 ~ 2023.08.01</p>
                            <p>- 잔여 횟수: 무제한</p>
                        </div>
                    </li>
                    <li class="ticket">
                        <div class="ticketName">
                            <h3>PT 20회 이용권</h3>
                        </div>
                        <div class="ticketDetail">
                            <p>- 기간 : 2023.02.01 ~ 2023.08.01</p>
                            <p>- 잔여 횟수: 12/20
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
       
    </div>
</body>
</html>