@charset "utf-8";

body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    line-height: 20px;
    color: #333;
}
.wrap{
    width: 100%;
    min-width: 1240px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
}
.logoImg{
    width: 120px;
    height: 120px;
    margin-left: 4px;

}
.logoImg img{
    width: 100%;
}
.title{
    color: #51c0ff;
    font-size: 80px;
    line-height: 1.5;
}
table{
    width: 560px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    text-align: center;
    font-size: 22px;
    line-height: 1.5;
}
.tdText{
    width: 180px;
    height: 80px;
    text-align: left;    
}
.inputPw{
    width:300px;
    height: 52px;
    font-size: 18px;
    line-height: 1.5;
    padding-left: 12px;
    /* background-color: antiquewhite; */
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #eee;
}
.inputPw:focus{
    outline: 1px solid #51c0ff;
    border-radius: 4px;
}
.changeBtn{
    width: 540px;
    height: 52px;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: #51c0ff;
    border: 1px solid #51c0ff;
    background-color: #fff;
    cursor: pointer;
    margin-top: 36px;
}