@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Jua:400');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    line-height: 20px;
    color: #555;
}
ul, ol{
    list-style: none;
}
img{
    /* 인라인블럭요소인 img 태그를 위쪽을 기준으로 정렬하도록 설정 */
    vertical-align: top;
}
a{
    text-decoration: none;
}
.wrap{
    width: 100%;
    min-width: 1240px;
}
.divType{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 360px;
}
.typeBtn{
    width: 260px;
    height: 120px;
    font-size: 24px;
    line-height: 1.5;
    font-weight: bold;
    color: #555;
    background-color: #fff;
    border: 1px solid #51c0ff;
    border-radius: 12px;
}
.typeBtn:first-child{
    margin-right: 12px;
}
.typeBtn:hover{
    background-color: #51c0ff;
    color: #fff;

}